<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="BananaSplit"
            connectionString="Data Source=DESKTOP-1NA7VLL\SQLEXPRESS;Initial Catalog=SecureCore;User ID=sa;Password=12345aA"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>